<html layout:decorator="layout">
    <body>
        <div layout:fragment="content">
            <h2>Create a Todo</h2>
            <form action="#" th:action="@{/todo}" th:object="${todo}"  method="post">
                <input type="hidden" th:field="*{id}" />
                <fieldset>
                    <label for="name">Name:</label>
                    <input id="name" type="text" placeholder="Buy milk" th:field="*{name}"/>
                </fieldset>
                <fieldset>
                    <label for="completed">Completed?:</label>
                    <input type="checkbox" name="completed" id="completed" th:checked="*{completed}"/>
                </fieldset>
                <fieldset>
                    <input type="submit" value="Create" />
                </fieldset>
            </form>
        </div>
    </body>
</html>
