<html layout:decorator="layout">
    <body>
        <div layout:fragment="content">
            <h2>Todo App</h2>

            <ul>
                <li><a id="create_todo" href="/todo">Create</a></li>
            </ul>

            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Completed</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr name="todo" th:each="todo : ${todoList}">
                        <td th:text="${todo.getName()}"></td>
                        <td th:text="${todo.getCompleted()}"></td>
                        <td>
                            <a name="update" th:href="@{/todo/edit/{id}(id=(${todo.getId()}))}">Update</a>
                        </td>
                        <td>
                            <a name="delete" th:href="@{/todo/delete/{id}(id=(${todo.getId()}))}">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
